body {
	background-image: url("../images/back.jpg");
}

.jumbotron {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
}

.panel {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
}

.panel-title {
	font-weight: bold;
}

.well {
	background-color: #000;
	color: #fff;	
}

td {
	text-align: center;
}

.btn {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;	
}