body {
	background-image: url("../images/back.jpg");
}

.jumbotron {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
}

.panel {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
}

.well {
	background-color: #000;
	color: #fff;	
}

.btn {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;	
}